html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}
a{
  text-decoration: none;
}
.container{
  height: 100%;
  display: grid;
  grid-template-areas:
    "nav todayToDo sideBar"
    "calendar todayToDo sideBar";
  grid-template-columns: minmax(400px, 800px) minmax(0px, 400px) minmax(0px, 300px);
  grid-template-rows: 60px 1fr;

}
.nav{
  grid-area: nav;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchBar{
  width: 100%;
  height: 60%;
  min-width: 200px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 3px;
  box-shadow: 0px 0px 5px #7B68EE;
}
#search{
  border: 0;

  margin-left: 10px;
}
::placeholder{
  color: #7B68EE;
  font-size: 15px;
}
.searchIcon{
  margin-left: 12px;
}
#magni{
  object-fit: contain;
  width: 100%;
  height:20px;
}
#search:focus {
  outline: 0;
}

/*오른쪽 사이드바1*/
.todayToDo{
  grid-area: todayToDo;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(to bottom, #7B68EE, rgb(178, 160, 255));
  box-shadow: 0px 0px 20px #7B68EE;

}
#TodoTitle{
  color: white;
  /*border-style: solid;
  border-color: #7B68EE;*/
  font-size: 40px;
  height: 60px;
  border-radius: 30px;
  text-overflow: ellipsis;
  overflow: hidden;

}
.todayToDoList{
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;


}
.todayToDoList div{
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todayToDoList a{
  color: white;
  line-height: 10px;
}

/*왼사이드바*/
.sideBar{
  grid-area: sideBar;
  background-color: white;
}

/*메인 섹션*/
.calendar{
  grid-area: calendar;
  background-color: white;
  margin: 40px 60px 40px 40px;
  /*border-style: solid;
  border-radius: 40px;
  border-color: #7B68EE;
  border-width: 2px;*/
}
.sec_cal {
    width: 100%;
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 20%;
}

.sec_cal .cal_nav .year-month {
    width: 80%;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 14%;
    height: 20%;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 6%;
    height: 6%;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    height: calc(100% / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 70%;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}
