@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap');

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'IBM Plex Sans KR', sans-serif;
  background-color: #F7F5FD;
}
a{
  text-decoration: none;
}
#container{
  height: 100%;
  display: grid;
  grid-template-areas:
    "nav nav"
    "calendar todayToDo";
  grid-template-columns: 900px 280px;
  grid-template-rows: 60px 1fr;

}
#nav{
  grid-area: nav;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#mainLogo {
  font-size: 23px;
  margin-left: 40px;
  margin-right: 25px;
}

#searchBar{
  width: 470px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 4px 2px rgb(233, 233, 233);
  background-color: white;
}

#search{
  border: 0;
  width: 320px;
  margin-left: 10px;
}

#search::placeholder{
  color: #7B68EE;
  font-size: 15px;
}

#search:focus {
  outline: 0;
}

#searchIcon{
  margin-left: 12px;
}

#magni{
  object-fit: contain;
  width: 100%;
  height:20px;
}


/* to-do */
.todayToDo{
  grid-area: todayToDo;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
#TodoTitle{
  font-size: 20px;
  margin-left: 8px;
}
.todayToDoList{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.todayToDoList div{
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todayToDoList a{
  color: black;
}


/* 캘린더 */
.calendar{
  grid-area: calendar;
  background-color: white;
  margin: 10px 60px 40px 40px;
  box-shadow: 0px 0px 10px 2px rgb(237 237 237);
  /*border-style: solid;
  border-radius: 40px;
  border-color: #7B68EE;
  border-width: 2px;*/
}
.sec_cal {
    width: 100%;
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .year {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
  color: #989898;
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 20%;
}

.sec_cal .cal_nav .month {
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 14%;
    height: 20%;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 6%;
    height: 6%;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;

}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    height: calc(350px / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px
}

.current.today {
  background: rgb(242 242 242);
}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 90px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}
